* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

main {
height: 100vh;
  display: grid;
  grid-template:
    "top" 1fr
    "bottom" 1fr/
    1fr;

  background: #a3bfa8;
}

h1 {

  font-size: 40vh;

  text-align: center;
  text-justify: center;

  color: #fA3BFA8;

  /* border: 1px black solid; */
}

nav ul {
  display: grid;

  grid-template-columns: repeat(3, minmax(100px, 400px));
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;

  place-items: center;

  grid-gap: 2%;
}

nav ul li {
  /* border: 1px solid black; */
  border-radius: 35%;

  background-color: #37515F;

  text-align: center;
  text-justify: center;

  margin: 5%;

  list-style-type: none;

  text-decoration: none;

  padding: 30%;

  font-family: serif:
}

nav ul li a {
  text-decoration: none;
  color: #a3bfa8;

  font-family: helvetica;
}
