* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

header {
  background-color: #37515f;
  display: grid;

  grid-template-columns: auto auto;

  place-content: center;
}

h1 {
  text-align: left;

  /* border: #e1f0d8bb 1px dashed; */
}

.nav-bar ul {
  height: 100%;
  display: grid;

  grid-template-columns: repeat(4, auto);

  align-items: end;
  padding: 1px;
}
nav ul li {
  display: inline-block;

  margin: 5px;

  /* border: #e1f0d8bb 1px solid; */

  text-align: center;
  text-justify: center;

  align-items: end;
}

.nav-bar ul li a {
  color: #e1f0d8;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
}
